In [1]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)

Loading raw data

In [6]:
enrolment_df = pd.read_csv(r"C:\Users\varun\Desktop\udai_adhar _framework\data\raw\enrolment.csv")
biometric_df = pd.read_csv(r"C:\Users\varun\Desktop\udai_adhar _framework\data\raw\biometric.csv")
demographic_df = pd.read_csv(r"C:\Users\varun\Desktop\udai_adhar _framework\data\raw\demographic.csv")

In [7]:
print("Enrolment shape:", enrolment_df.shape)
print("Biometric shape:", biometric_df.shape)
print("Demographic shape:", demographic_df.shape)

Enrolment shape: (1006029, 7)
Biometric shape: (1861108, 6)
Demographic shape: (2071700, 6)

In [8]:
print(demographic_df.head())
print(biometric_df.head())
enrolment_df.head()

         date           state    district  pincode  demo_age_5_17  \
0  01-03-2025   Uttar Pradesh   Gorakhpur   273213             49
1  01-03-2025  Andhra Pradesh    Chittoor   517132             22
2  01-03-2025         Gujarat      Rajkot   360006             65
3  01-03-2025  Andhra Pradesh  Srikakulam   532484             24
4  01-03-2025       Rajasthan     Udaipur   313801             45

   demo_age_17_
0           529
1           375
2           765
3           314
4           785
         date              state      district  pincode  bio_age_5_17  \
0  01-03-2025            Haryana  Mahendragarh   123029           280
1  01-03-2025              Bihar     Madhepura   852121           144
2  01-03-2025  Jammu and Kashmir         Punch   185101           643
3  01-03-2025              Bihar       Bhojpur   802158           256
4  01-03-2025         Tamil Nadu       Madurai   625514           271

   bio_age_17_
0          577
1          369
2         1091
3          980
4          815

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [9]:
enrolment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  object
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: int64(4), object(3)
memory usage: 53.7+ MB

In [10]:
biometric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   date          object
 1   state         object
 2   district      object
 3   pincode       int64
 4   bio_age_5_17  int64
 5   bio_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 85.2+ MB

In [11]:
demographic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2071700 entries, 0 to 2071699
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   date           object
 1   state          object
 2   district       object
 3   pincode        int64
 4   demo_age_5_17  int64
 5   demo_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 94.8+ MB

In [12]:
enrolment_df.describe()

            pincode       age_0_5      age_5_17  age_18_greater
count  1.006029e+06  1.006029e+06  1.006029e+06    1.006029e+06
mean   5.186415e+05  3.525709e+00  1.710074e+00    1.673441e-01
std    2.056360e+05  1.753851e+01  1.436963e+01    3.220525e+00
min    1.000000e+05  0.000000e+00  0.000000e+00    0.000000e+00
25%    3.636410e+05  1.000000e+00  0.000000e+00    0.000000e+00
50%    5.174170e+05  2.000000e+00  0.000000e+00    0.000000e+00
75%    7.001040e+05  3.000000e+00  1.000000e+00    0.000000e+00
max    8.554560e+05  2.688000e+03  1.812000e+03    8.550000e+02

In [13]:
biometric_df.describe()

            pincode  bio_age_5_17   bio_age_17_
count  1.861108e+06  1.861108e+06  1.861108e+06
mean   5.217612e+05  1.839058e+01  1.909413e+01
std    1.981627e+05  8.370421e+01  8.806502e+01
min    1.100010e+05  0.000000e+00  0.000000e+00
25%    3.911750e+05  1.000000e+00  1.000000e+00
50%    5.224010e+05  3.000000e+00  4.000000e+00
75%    6.866362e+05  1.100000e+01  1.000000e+01
max    8.554560e+05  8.002000e+03  7.625000e+03

In [14]:
enrolment_states = set(enrolment_df["state"].astype(str).unique())
biometric_states = set(biometric_df["state"].astype(str).unique())
demographic_states = set(demographic_df["state"].astype(str).unique())
print("Enrolment states:", len(enrolment_states))
print("Biometric states:", len(biometric_states))
print("Demographic states:", len(demographic_states))

Enrolment states: 55
Biometric states: 57
Demographic states: 65

State Coverage Check between the datasets

In [15]:
enrolment_states.symmetric_difference(biometric_states)

{'100000',
 'Chhatisgarh',
 'Jammu And Kashmir',
 'Tamilnadu',
 'The Dadra And Nagar Haveli And Daman And Diu',
 'Uttaranchal',
 'odisha',
 'west Bengal'}

In [16]:
enrolment_states.symmetric_difference(demographic_states)

{'BALANAGAR',
 'Chhatisgarh',
 'Darbhanga',
 'Jaipur',
 'Jammu And Kashmir',
 'Madanapalle',
 'Nagpur',
 'Puttenahalli',
 'Raja Annamalai Puram',
 'The Dadra And Nagar Haveli And Daman And Diu',
 'Uttaranchal',
 'West Bengli',
 'odisha',
 'west Bengal'}

In [17]:
biometric_states.symmetric_difference(demographic_states)

{'100000',
 'BALANAGAR',
 'Darbhanga',
 'Jaipur',
 'Madanapalle',
 'Nagpur',
 'Puttenahalli',
 'Raja Annamalai Puram',
 'Tamilnadu',
 'West Bengli'}

In [18]:
enrolment_df["date"].head(10)

0    02-03-2025
1    09-03-2025
2    09-03-2025
3    09-03-2025
4    09-03-2025
5    09-03-2025
6    09-03-2025
7    09-03-2025
8    09-03-2025
9    09-03-2025
Name: date, dtype: object

In [19]:
enrolment_df["date"].head(10)

0    02-03-2025
1    09-03-2025
2    09-03-2025
3    09-03-2025
4    09-03-2025
5    09-03-2025
6    09-03-2025
7    09-03-2025
8    09-03-2025
9    09-03-2025
Name: date, dtype: object

Min-Max date check

In [20]:
enrolment_df["date"].min(), enrolment_df["date"].max(),

('01-04-2025', '31-12-2025')

In [21]:
biometric_df["date"].min(), biometric_df["date"].max()

('01-03-2025', '31-10-2025')

In [22]:
demographic_df["date"].min(), demographic_df["date"].max()

('01-03-2025', '31-10-2025')

Missing Value Scan

In [23]:
enrolment_df.isna().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [24]:
biometric_df.isna().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

In [25]:
demographic_df.isna().sum()

date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64

Duplicate Checking

In [26]:
enrolment_df.duplicated().sum()

np.int64(22957)

In [27]:
biometric_df.duplicated().sum()

np.int64(94896)

In [28]:
demographic_df.duplicated().sum()

np.int64(473601)

Cardinality check

In [29]:
enrolment_df.nunique().sort_values()

state                55
date                 92
age_18_greater      199
age_5_17            624
age_0_5             671
district            985
pincode           19463
dtype: int64

In [30]:
biometric_df.nunique().sort_values()

state              57
date               89
district          974
bio_age_5_17     2121
bio_age_17_      2212
pincode         19707
dtype: int64

In [37]:
demographic_df.nunique().sort_values()

state               65
date                95
demo_age_5_17      614
district           983
demo_age_17_      2668
pincode          19742
dtype: int64

In [38]:
demographic_df.columns

Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17',
       'demo_age_17_'],
      dtype='object')

In [40]:
demographic_df['state'].unique()

array(['Uttar Pradesh', 'Andhra Pradesh', 'Gujarat', 'Rajasthan',
       'Karnataka', 'West Bengal', 'Telangana', 'Odisha', 'Maharashtra',
       'Kerala', 'Bihar', 'Tamil Nadu', 'Madhya Pradesh', 'Assam',
       'Tripura', 'Arunachal Pradesh', 'Punjab', 'Jharkhand', 'Delhi',
       'Chandigarh', 'Chhattisgarh', 'Jammu and Kashmir', 'Mizoram',
       'Nagaland', 'Himachal Pradesh', 'Goa', 'Haryana', 'Meghalaya',
       'Uttarakhand', 'Manipur', 'Daman and Diu', 'Puducherry', 'Sikkim',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Dadra and Nagar Haveli', 'Orissa', 'Pondicherry',
       'Andaman & Nicobar Islands', 'Andaman and Nicobar Islands',
       'west Bengal', 'Daman & Diu', 'West  Bengal', 'odisha',
       'Jammu & Kashmir', 'Lakshadweep', 'Dadra & Nagar Haveli',
       'Westbengal', 'andhra pradesh', 'WEST BENGAL', 'West Bangal',
       'West bengal', 'ODISHA', 'WESTBENGAL', 'Chhatisgarh',
       'West Bengli', 'Darbhanga', 'Puttenahalli', 'BALANAGAR',
       'Uttaranchal', '100000', 'Jaipur', 'Madanapalle', 'Nagpur',
       'Raja Annamalai Puram'], dtype=object)